.App {
  /* text-align: center; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navigation-side {
  display: flex;
  flex-direction: row;
}
.nav-bar {
  background-color: #f1ead9;
  height: 100vh;
  width: 200px;
}
.title {
  text-align: center;
  padding: 10px 0 50px 0;
}

.items {
  text-align: center;
  padding: 10px 0 10px 0;
}
.items:hover {
  background-color: #f3d2c1;
}

.App-header {
  background-color: #8b98b1;
  font-size: calc(10px + 2vmin);
  color: white;
}
